body {
    max-width: 600px;
    padding: 0;
    overflow-x: hidden;
    font-family: century-gothic, sans-serif;
    line-height: 1.8;
}

/* adds border-box to make responsive layout manageable by including padding for the entire length and width of webpage*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    height: fit-content;
}
/* Adds a wrapper class to control the entire content( section and divs) of the webpage for a responsive arrangement*/
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    max-height:max-content;
    overflow: hidden;
    padding: 0 30px 0 30px;
}
nav {
    background-color: #4B2750;
    height: 88px;   
}

nav ul {
    list-style-type: none;
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/**HAMBURGER MENU TAKEN FROM https://codepen.io/erikterwan/pen/grOZxx?editors=1100 Made by Erik Terwan**/
a {
    text-decoration: none;
    color: #4B2750;
    transition: color 0.3s ease;
}

a:hover {
    background-color: #c1be4a;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 1;
}

#menuToggle input {
    display: block;
    width: 45px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -6px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 35px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    background: #909a32;
    border-radius: 5px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity .5s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/***TRANSFORM HAMBURGER MENU INTO CROSS*****/

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -2px);
}

/****** Hides middle stick***** */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1, 0.2);
}

/***CHANGES DIRECTION OF STICK TO FORM CROSS*/
#menuToggle input:checked~span:nth-last-child(1) {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, -5px);
}

/**************************************MAKE THE MENU ABSOLUTE
#menu {
    position: absolute;
    width: 380px;
    margin: -25px 0 0 0;
    padding: 50px 80px 20px 20px;
    padding-top: 125px;
    right: -100px;
    background: #FEF9CA;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: transform 0.5s cubic-bezier(.7, .1, .74, .16);
}

#menu li {
    padding: 10px 20px 20px 1px;
    font-size: 30px;
}

/***MAKES TRANSITION FADE IN
#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 375px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(.98, .44, .57, .65);
    }
} ******************************************************************************/

#logo {
    position:absolute;
    margin-top: 8px;
    margin: 0 auto;
    padding: 5px;
    height: 85px;
}
h1,
h2 {
    font-family: coquette, sans-serif;
}
h1 {
    font-size: 25px;
    margin-top: 10px;
    padding-right: 50px;
    margin-right: 180px;
    font-weight: 700;
    font-style: normal;
}

.banner {
    background-image: url("../references/banner-derivatives/banner-640_x_320.jpg");
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative; 
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #909a32;
    text-shadow: 5px 5px 10px gray;
}
#want {
    margin-top: 50px;
}

#Want, #check {
    background-color: #c1be4a;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 0ch;
    height: 45px;
    width: 125px;
    box-shadow: 5px 5px 10px #4B2750;
}

.who {
    background-color: #fef9ca;
    margin: 0 auto;
    padding-bottom: 0;
}
#who {
    border-radius: 50px;
    margin: 10px 0 30px 0;
}

#check {
    font-family: century-gothic, sans-serif;
    font-size: 20px;
    width: 165px;
    height: 50px;
    margin-left: 105px;
}
.ourMoodsBanner {
    margin-bottom: 15px;
    background-image: url("../references/rose-icecream-derivatives/rose-icecream-320_x_106.jpg");
    max-width: 100%;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 120px;
}

.ourMoods {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 15px;
}


/* **********************************************The breakpoint to style is for minimum width of 600px and over ****************************/

@media screen and (min-width: 600px){
    
    /*set min-width for entire body to constrict content and background*/
    html {
        min-width: 600px; 
    }

    body {
        background-color: #fff;
        min-width: 100%;
        padding: 0;
    }
    header {
        background-color: #FEF9CA;
        fill-opacity: 1;
    }
    #logo {
        padding: 0;
        margin: 0 auto;
    }
    nav {
        background-color: #FEF9CA;
    }
    

    /* changes style of navigation to place it in a row */
    .topnav, nav {
        max-width: 100%;
        display: flex;
        height: 120px;
        justify-content: space-around;        
    } 

    #logo {
        position:static;
        margin: 20px 50px 20px 0px;
        padding-right: 250px;
        height: 80px;
    }

    .topnav .logo a:hover {
        background-color: transparent;
    }
    #menuToggle {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;       
    }

    nav ul li a {
        margin: 50px;
    }

    /* set the container to a maximum width to wrap the content of entire webpage*/
    .wrapper {
        max-width: 1200px;    
    }
    .banner {
        background-color: #FEF9CA;
        background-image: url(../references/banner-derivatives/banner-960_x_480.jpg);
        max-width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        display: flex;
        overflow: hidden;
        position: relative;
        }
    
    h1{
        padding: 0;
        margin-right: 710px;
        font-size: 75px;
        color: #4B2750;
        text-shadow :2px 1px 1px #FEF9CA;
        
    }
    #Want {
        font-size: 20px;
        margin: 150px 4px;
        height: 50px;
        width: 230px;
        box-shadow: 5px 5px 10px #4B2750;
    }

    h2{
        margin-top: 0;
        font-size: 65px;
    }

    .who .wrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    .whoInfo {
        width: 45%;
        margin-bottom: 25px;
        padding-right: 55px;
    }
    #who {
        background-image: url(../references/whoPhoto-derivatives/whoPhoto-720_x_360.jpg);
        height: 250px;
        margin: 150px 0 25px 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        display: flex;
        overflow: hidden;
        position: relative;
        box-shadow: 5px 4px 8px#4B2750;
    }
    
    .ourMoodsBanner {
        margin-bottom: 15px;
        background-image: url("../references/rose-icecream-derivatives/rose-icecream-1440_x_480.jpg");
        max-width: 100%;    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 350px;
    }

    .ourMoods h2 {
        color:#FEF9CA;
    }

    /*****************STYLES FOR CONTACT PAGE************************
    *****************************************************************
    *****************************************************************/
    /*styles form**/
    form {
        background-color: #c1be4a;
        padding: 35px;
        border-radius: 25px;
        width: 100%;
        justify-content: center;
        margin-bottom: 25px;
    }
    /*adds shadow to input boxes*/
    input[type=text],[type=tel],[type=email] {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        box-shadow: inset 1px 1px 2px #4B2750;
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        resize: vertical;
        box-shadow: inset 1px 1px 2px #4B2750;
    }
    input[type=submit] {
        background-color: #4B2750;
        color: #FEF9CA;
        font-weight: 600;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
        border: 0ch;
        height: 45px;
        width: 125px;
        box-shadow: 5px 5px 10px #4B2750;
    }
    .info {
        text-align: center;
        margin: 25px 0 25px 0;
        line-height: 4;

    }

    iframe{
        margin: 20px 0 20px 0;
        border-radius: 15px;
        box-shadow: 5px 5px 10px #4B2750;
        height: 300px;
        width: 100%;
    }
    /**********************END STYLES CONTACT PAGE**********************************
    ********************************************************************************
    ********************************************************************************/ 


/*********   *****  ******    *******   *******    *********   ************   ***********  ************   *******   ******  *****  ****/


    /******************************************************************************
    *******************************************************************************
    ************************ STYLE FOR PRODUCT PAGE********************************/

    /* adds grid gap to separate each little section equally/ selects grid to properly display 2 rows, specifying each area within the grid design/ adds to each class a grid-area name to reference them in the grid-template-area*/
    .moods h2 {
        font-size: 65px;
        text-align: center;
        margin: auto;
    }

    .moods {
        padding: 0;
        width: 100%;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 35px;
        height: fit-content;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "first first one one two two"
        "three three four four five five"
        "six six seven seven eight eight"
 
    }
    .products img {
        height: 250px;
        border-radius: 50px;
        box-shadow: 1px 4px 8px #4B2750;
    }

    .moods button {
            background-color: #4B2750;
            color: #fef9ca;
            font-size: 20px;
            margin:30px 15px 15px 5px;
            height: 50px;
            width: 230px;
            box-shadow: 5px 5px 10px #4B2750;
            border-radius: 50px;
            align-items: center;
        }
    .products .first {
        grid-area: first;
    }

    .products .one {
        grid-area: one;
    }

    .products .two {
        grid-area: two;
    }

    .products .three {
        grid-area: three;
    }

    .products .four {
        grid-area: four;
    }

    .products .five {
        grid-area: five;
    }

    .products .six {
        grid-area: six;
    }

    .products .seven {
        grid-area: seven;
    }

    .products .eight {
        grid-area: eight;
    }

    /******************************************************************************
    *******************************************************************************
    ************************ END STYLE FOR PRODUCT PAGE********************************/

    footer {
        background-color: #4B2750;
    }
    footer p{
        color: #FEF9CA;
    }
    footer h4 {
        color: #c1be4a;
    }
    footer .wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    justify-content: space-between;
    line-height: 2.5;
    }
    .data {
        justify-content: space-around;
        margin-top: 15px;
    }
    .socials{
        justify-content: space-around;
        margin-top: 35px;
    }
    .copy {
        margin-top: 25px;
        text-align: center;
        margin-bottom: 15px;
        color: #c1be4a;
    }
}
    

    
    
